main {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%; */
}

html {
  font-size: var(--vscode-font-size);
}

body {
  padding: 0px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  main {
    padding-top: 20px;
  }
}

/* for some reason the default check box is not rendered */
input[type=checkbox]:before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em;
  transform-origin: center;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}